Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g12, pull requests merged in 2022-10, with the labels that each got.

#81 All rooms and events related implementation supporting many socket instances
  matching-service/controller/pendingMatchController.js
  matching-service/controller/socketHandler/pendingMatchHandler.js
  matching-service/index.js
  matching-service/model/orm.js
  matching-service/model/pendingMatchModel.js
  matching-service/model/pendingMatchOrm.js
Labels: backend, matching-service

#84 Match frontend events to backend
  frontend/src/App.js
  frontend/src/components/MatchingService/CountdownView.js
  frontend/src/components/MatchingService/DifficultyCard.js
  frontend/src/components/MatchingService/RoomPage.js
  frontend/src/components/MatchingService/SelectionView.js
  frontend/src/components/MatchingService/SocketContext.js
Labels: matching-service, frontend, priority.High

#88 Fix bug where expired token fails to update
  user-service/controller/user-controller.js
Labels: bug, user-service, priority.High

#92 Setup frontend UI for code editor
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CollaborationService/CodeEditor.js
  frontend/src/components/MatchingService/RoomPage.js
Labels: frontend, collaboration-service

#67 Add change password UI
  frontend/src/App.js
  frontend/src/components/ChangePasswordButton.js
  frontend/src/components/ChangePasswordPage.js
  frontend/src/components/Home.js
  frontend/src/components/LoginPage.js
  frontend/src/components/LogoutPage.js
  frontend/src/components/SignupPage.js
  frontend/src/constants.js
  frontend/src/customHooks.js
  user-service/controller/user-controller.js
Labels: ToReview, frontend, user-service

#89 Implement backend validation for password strength
  frontend/src/components/ChangePasswordPage.js
  user-service/controller/user-controller.js
  user-service/services.js
Labels: backend, ToReview, frontend, user-service

#95 Add NavBar component to frontend
  frontend/src/App.js
  frontend/src/components/ChangePasswordButton.js
  frontend/src/components/Home.js
  frontend/src/components/NavBar.js
Labels: ToReview, frontend, user-service

#100 Set up yjs and bind it to editor
  collaboration-service/index.js
  collaboration-service/package.json
  collaboration-service/socketHandler.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CollaborationService/CodeEditor.css
  frontend/src/components/CollaborationService/CodeEditor.js
  frontend/src/components/CollaborationService/CodeEditorAddons.js
  frontend/src/components/CollaborationService/SocketContext.js
  frontend/src/components/MatchingService/RoomPage.js
Labels: collaboration-service

#107 [Milestone 2] Collaboration service
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CollaborationService/CodeEditor.css
  frontend/src/components/CollaborationService/CodeEditor.js
  frontend/src/components/CollaborationService/CodeEditorAddons.js
  frontend/src/components/MatchingService/RoomPage.js
Labels: collaboration-service

#104 Implement Question Service - Retrieve Qn by difficulty API
  question-service/controller/question-controller.js
  question-service/index.js
  question-service/model/question-model.js
  question-service/model/question-orm.js
  question-service/model/repository.js
  question-service/package.json
Labels: backend, to-review, question-service

#103 Fix SignUp Page password strength error display bug
  frontend/src/components/SignupPage.js
  user-service/controller/user-controller.js
Labels: backend, to-review, frontend, user-service

#99 Update username handling from using Session to Cookies
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChangePasswordPage.js
  frontend/src/components/Home.js
  frontend/src/components/LoginPage.js
  frontend/src/components/NavBar.js
  user-service/controller/user-controller.js
Labels: bug, frontend, user-service

#114 Reflect question on room page
  frontend/src/components/MatchingService/CountdownView.js
  frontend/src/components/MatchingService/RoomPage.js
  matching-service/controller/socketHandler/pendingMatchHandler.js
  matching-service/package-lock.json
  matching-service/package.json
Labels: question-service

#98 Implement UI for Delete Account
  frontend/src/App.js
  frontend/src/components/DeleteAccountAlert.js
  frontend/src/components/DeleteAccountPage.js
  frontend/src/components/NavBar.js
  user-service/controller/user-controller.js
  user-service/index.js
Labels: backend, frontend, user-service

#117 Implement standalone endpoint for authentication
  user-service/controller/user-controller.js
  user-service/index.js
Labels: backend, user-service

#119 Add Question Display component
  frontend/src/components/MatchingService/RoomPage.js
  frontend/src/components/QuestionService/QuestionDisplay.js
Labels: to-review, frontend, question-service

#123 Fix FE from kicking out logged in users
  frontend/src/Util.js
  user-service/index.js
Labels: bug, user-service

#112 108 update UI for matching and room
  frontend/src/components/MatchingService/DifficultyCard.js
  frontend/src/components/MatchingService/RoomPage.js
  frontend/src/components/MatchingService/SelectionView.js
Labels: matching-service, frontend

#125 Implement chat service
  chat-service/controller/socketHandler.js
  chat-service/index.js
  chat-service/package.json
  frontend/src/App.js
  frontend/src/components/ChatService/ChatDisplay.css
  frontend/src/components/ChatService/ChatDisplay.js
  frontend/src/components/ChatService/SocketContext.js
  frontend/src/components/ChatService/components/Message.css
  frontend/src/components/ChatService/components/Message.js
  frontend/src/components/MatchingService/RoomPage.js
  question-service/index.js
Labels: backend, to-review, frontend, chat-service

#131 Implement storing and displaying of pictures for questions
  frontend/package-lock.json
  frontend/src/components/MatchingService/RoomPage.js
  frontend/src/components/QuestionService/QuestionDisplay.js
  question-service/data/easy-questions.json
  question-service/data/hard-questions.json
  question-service/data/med-questions.json
  question-service/index.js
  question-service/model/question-model.js
  question-service/model/question-orm.js
Labels: backend, frontend, question-service

#137 Add Prod DB URL
  question-service/.env
  question-service/model/repository.js
  user-service/.env
  user-service/model/repository.js
Labels: database

#135 Implement History Service API
  history-service/.env
  history-service/controller/history-controller.js
  history-service/index.js
  history-service/model/history-model.js
  history-service/model/history-orm.js
  history-service/model/repository.js
  history-service/package.json
Labels: enhancement, backend

#128 Revamp frontend UI for sign up/ log in
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChangePasswordPage.js
  frontend/src/components/LoginPage.css
  frontend/src/components/LoginPage.js
  frontend/src/components/SignupPage.css
  frontend/src/components/SignupPage.js
  frontend/src/components/UserService/components/DialogBox.css
  frontend/src/components/UserService/components/DialogBox.js
  frontend/src/components/UserService/components/Login.css
  frontend/src/components/UserService/components/Login.js
  frontend/src/components/UserService/components/Signup.css
  frontend/src/components/UserService/components/Signup.js
Labels: enhancement, to-review, user-service

#140 Milestone 3: chat service
  chat-service/controller/socketHandler.js
  chat-service/index.js
  chat-service/package.json
  frontend/src/App.js
  frontend/src/components/ChatService/ChatDisplay.css
  frontend/src/components/ChatService/ChatDisplay.js
  frontend/src/components/ChatService/SocketContext.js
  frontend/src/components/ChatService/components/Message.css
  frontend/src/components/ChatService/components/Message.js
  frontend/src/components/MatchingService/RoomPage.js
  question-service/index.js
Labels: chat-service

#141 Mid-Milestone 3: user service
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChangePasswordPage.js
  frontend/src/components/LoginPage.css
  frontend/src/components/LoginPage.js
  frontend/src/components/SignupPage.css
  frontend/src/components/SignupPage.js
  frontend/src/components/UserService/components/DialogBox.css
  frontend/src/components/UserService/components/DialogBox.js
  frontend/src/components/UserService/components/Login.css
  frontend/src/components/UserService/components/Login.js
  frontend/src/components/UserService/components/Signup.css
  frontend/src/components/UserService/components/Signup.js
Labels: user-service
