Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g12, pull requests merged in 2022-11, with the labels that each got.

#143 Improve UI for change password page
  frontend/package-lock.json
  frontend/src/components/ChangePasswordPage.js
  user-service/controller/user-controller.js
Labels: to-review, frontend, user-service

#132 129 enhance matching service UI
  frontend/src/components/CollaborationService/CodeEditor.js
  frontend/src/components/MatchingService/CountdownView.css
  frontend/src/components/MatchingService/CountdownView.js
  frontend/src/components/MatchingService/DifficultyCard.js
  frontend/src/components/MatchingService/RoomPage.js
  frontend/src/components/MatchingService/SelectionView.css
  frontend/src/components/MatchingService/SelectionView.js
  frontend/src/components/NavBar.css
  frontend/src/components/NavBar.js
Labels: matching-service, to-review, frontend

#148 Mid-Milestone 3: Matching Service UI updates
  frontend/src/components/CollaborationService/CodeEditor.js
  frontend/src/components/MatchingService/CountdownView.css
  frontend/src/components/MatchingService/CountdownView.js
  frontend/src/components/MatchingService/DifficultyCard.js
  frontend/src/components/MatchingService/RoomPage.js
  frontend/src/components/MatchingService/SelectionView.css
  frontend/src/components/MatchingService/SelectionView.js
  frontend/src/components/NavBar.css
  frontend/src/components/NavBar.js
Labels: matching-service

#154 Update question bank with more images
  question-service/data/easy-questions.json
  question-service/data/hard-questions.json
  question-service/data/med-questions.json
Labels: question-service

#146 Cypress E2E frontend testing for CI
  .github/workflows/main.yml
  .gitignore
  README.md
  chat-service/package-lock.json
  collaboration-service/package-lock.json
  frontend/.gitignore
  frontend/README.md
  frontend/cypress.config.js
  frontend/cypress/cypress.json
  frontend/cypress/e2e/login_page.cy.js
  frontend/cypress/e2e/spec.cy.js
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/UserService/components/Signup.css
  frontend/src/components/UserService/components/Signup.js
  package-lock.json
  question-service/package-lock.json
Labels: enhancement, to-merge

#156 Implement Home UI Updates
  frontend/package-lock.json
  frontend/src/components/ChangePasswordPage.js
  frontend/src/components/HistoryService/AttemptedCard.js
  frontend/src/components/HistoryService/CircularStaticWithLabel.js
  frontend/src/components/Home.css
  frontend/src/components/Home.js
  frontend/src/configs.js
  history-service/index.js
  user-service/controller/user-controller.js
Labels: to-merge, user-service, history-service

#165 Update FE / to point to home by default
  frontend/src/App.js
Labels: frontend

#161 Milestone #3: User service
  frontend/src/App.js
  frontend/src/components/ChangePasswordPage.js
  frontend/src/components/LoginPage.css
  frontend/src/components/SignupPage.css
  frontend/src/components/SignupPage.js
Labels: to-review, frontend, user-service

#160 [milestone 3] Question service
  frontend/src/components/MatchingService/RoomPage.js
  frontend/src/components/QuestionService/QuestionDisplay.js
  matching-service/controller/socketHandler/pendingMatchHandler.js
  question-service/data/easy-questions.json
  question-service/data/hard-questions.json
  question-service/data/med-questions.json
  question-service/model/question-model.js
  question-service/model/question-orm.js
Labels: to-review

#169 Re-inject Attempted Difficulty cards with live data
  frontend/src/components/Home.js
  frontend/src/components/MatchingService/RoomPage.js
  frontend/src/components/SignupPage.css
Labels: frontend, history-service

#171 Fix multiple firings of auth endpoint
  frontend/src/components/ChangePasswordPage.js
  frontend/src/components/DeleteAccountPage.js
  frontend/src/components/Home.js
  frontend/src/components/LogoutPage.js
  frontend/src/components/MatchingService/RoomPage.js
  frontend/src/components/MatchingService/SelectionView.js
  frontend/src/components/QuestionService/QuestionDisplay.js
  matching-service/controller/socketHandler/pendingMatchHandler.js
  question-service/data/easy-questions.json
  question-service/data/hard-questions.json
  question-service/data/med-questions.json
  question-service/model/question-model.js
  question-service/model/question-orm.js
Labels: bug, user-service

#175 Milestone 3: History service
  frontend/package-lock.json
  frontend/src/Util.js
  frontend/src/components/Home.js
  frontend/src/components/MatchingService/CountdownView.js
  frontend/src/components/MatchingService/RoomPage.js
  frontend/src/components/SignupPage.js
  history-service/controller/history-controller.js
  history-service/package-lock.json
Labels: backend, frontend, history-service

#176 Milestone 3: User Service
  frontend/src/components/ChangePasswordPage.js
  frontend/src/components/DeleteAccountPage.js
  frontend/src/components/Home.js
  frontend/src/components/LogoutPage.js
  frontend/src/components/MatchingService/RoomPage.js
  frontend/src/components/MatchingService/SelectionView.js
  frontend/src/components/SignupPage.js
Labels: frontend, user-service

#144 Dockerize application
  README.md
  chat-service/.dockerignore
  chat-service/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  history-service/.dockerignore
  history-service/Dockerfile
  history-service/package-lock.json
  matching-service/.dockerignore
  matching-service/Dockerfile
  matching-service/configs.js
  matching-service/controller/socketHandler/pendingMatchHandler.js
  question-service/.dockerignore
  question-service/Dockerfile
  user-service/.dockerignore
  user-service/Dockerfile
Labels: to-review
