Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g12, pull requests merged in 2022-09, with the labels that each got.

#30 Update eslint to ignore import file extensions
  .eslintrc.json
Labels: enhancement, ToMerge

#33 Update ESLint check to align with Express
  .eslintrc.json
Labels: enhancement, ToReview

#14 Implement pending match model and ORM layer
  .eslintrc.json
  matching-service/.gitignore
  matching-service/controller.js
  matching-service/index.js
  matching-service/orm.js
  matching-service/package-lock.json
  matching-service/package.json
  matching-service/pendingMatch.js
  matching-service/pendingMatchRoute.js
  matching-service/repository.js
  matching-service/routes.js
Labels: matching-service, database, ToReview

#48 Update eslint to match main
  .eslintrc.json
Labels: ToMerge

#34 Implement logic to ensure unique usernames during account creation
  user-service/controller/user-controller.js
  user-service/model/repository.js
  user-service/model/user-orm.js
Labels: backend, ToReview, user-service

#26 UI Layout for room page view
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/MatchingService/RoomPage.js
Labels: matching-service, ToReview, frontend

#36 Create socket.io client instance when find match button is clicked
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/CountdownView.js
  frontend/src/components/MatchingService/CountdownView.js
  frontend/src/components/MatchingService/DifficultyCard.js
  frontend/src/components/MatchingService/SelectionView.js
  matching-service/index.js
  matching-service/package-lock.json
Labels: matching-service, ToReview, frontend

#53 Implement matching related events
  matching-service/controller/controller.js
  matching-service/controller/pendingMatchController.js
  matching-service/controller/socketHandler/globalHandler.js
  matching-service/controller/socketHandler/pendingMatchHandler.js
  matching-service/index.js
  matching-service/model/orm.js
  matching-service/model/pendingMatchModel.js
  matching-service/model/pendingMatchOrm.js
  matching-service/model/repository.js
  matching-service/pendingMatchRoute.js
  matching-service/repository.js
  matching-service/route/pendingMatchRoute.js
  matching-service/routes.js
Labels: backend, matching-service

#23 Implement Login and Logout
  .eslintrc.json
  user-service/.env
  user-service/controller/user-controller.js
  user-service/index.js
  user-service/model/repository.js
  user-service/model/user-orm.js
  user-service/package.json
  user-service/services.js
Labels: backend, ToReview, user-service

#61 Improve error handling for JWT verification functions
  user-service/controller/user-controller.js
  user-service/services.js
Labels: backend, user-service

#42 Add simple sign up login page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/LoginPage.js
  frontend/src/components/SignupPage.js
  frontend/src/constants.js
  user-service/controller/user-controller.js
  user-service/package-lock.json
Labels: ToReview, frontend, user-service

#60 Milestone 1: matching service
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/MatchingService/CountdownView.js
  frontend/src/components/MatchingService/DifficultyCard.js
  frontend/src/components/MatchingService/RoomPage.js
  frontend/src/components/MatchingService/SelectionView.js
  frontend/src/images/sapling.png
  frontend/src/images/tree.png
  frontend/src/images/youngtree.png
  matching-service/.gitignore
  matching-service/controller/controller.js
  matching-service/controller/pendingMatchController.js
  matching-service/controller/socketHandler/globalHandler.js
  matching-service/controller/socketHandler/pendingMatchHandler.js
  matching-service/index.js
  matching-service/model/orm.js
  matching-service/model/pendingMatchModel.js
  matching-service/model/pendingMatchOrm.js
  matching-service/model/repository.js
  matching-service/package-lock.json
  matching-service/package.json
  matching-service/route/pendingMatchRoute.js
  matching-service/routes.js
  package.json
Labels: matching-service

#63 Implement storage of returned JWT in cookie for successful logins
  frontend/package-lock.json
  frontend/src/components/LoginPage.js
  user-service/controller/user-controller.js
  user-service/index.js
  user-service/package-lock.json
  user-service/package.json
Labels: backend, frontend, user-service

#68 Implement UI and update backend for cookies for logout
  frontend/src/App.js
  frontend/src/components/Home.js
  frontend/src/components/LoginPage.js
  frontend/src/components/LogoutPage.js
  user-service/controller/user-controller.js
  user-service/index.js
Labels: backend, frontend, user-service

#47 Implement ability to change password
  user-service/controller/user-controller.js
  user-service/index.js
  user-service/model/user-orm.js
Labels: backend, user-service

#70 Implement Authorizations to backend and frontend API with cookies
  frontend/src/components/Home.js
  frontend/src/components/LogoutPage.js
  frontend/src/constants.js
  user-service/controller/user-controller.js
  user-service/index.js
Labels: backend, frontend, user-service

#35 Implement Account Deletion
  user-service/controller/user-controller.js
  user-service/index.js
  user-service/model/repository.js
  user-service/model/user-orm.js
Labels: backend, user-service

#73 Implement refreshing of tokens if refreshToken is still valid
  user-service/controller/user-controller.js
  user-service/index.js
Labels: backend, user-service

#75 Add protection to changePassword endpoint
  user-service/controller/user-controller.js
  user-service/index.js
Labels: backend, user-service
